# Profile Oracle - Padrão Getnet/Oraex
export ORACLE_BASE={{ oracle_base }}
export ORACLE_HOME={{ oracle_home }}
export ORACLE_SID={{ oracle_sid }}
export PATH=$ORACLE_HOME/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin
export LD_LIBRARY_PATH=$ORACLE_HOME/lib:/lib:/usr/lib
export CLASSPATH=$ORACLE_HOME/jlib:$ORACLE_HOME/rdbms/jlib
export NLS_LANG=AMERICAN_AMERICA.AL32UTF8

alias sql='sqlplus / as sysdba'
alias dbs='cd $ORACLE_HOME/dbs'
alias oh='cd $ORACLE_HOME'
alias tns='cd $ORACLE_HOME/network/admin'

echo "Oracle Environment set to: $ORACLE_SID"
