# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
healthcheck.log
logs/

# Environment
.env
.venv
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Project Specific
dist/
build/
*.egg-info/
