oracle.install.responseFileVersion=/oracle/install/rspfmt_crsinstall_response_schema_v19.0.0
INVENTORY_LOCATION=/u01/app/oraInventory
ORACLE_BASE=/u01/app/grid

# Single Instance (Restart) vs RAC (Cluster)
{% if oracle_install_type == 'rac' %}
oracle.install.option=CRS_CONFIG
oracle.install.crs.config.clusterName=oraex-cluster
oracle.install.crs.config.gpnp.scanName=oraex-scan
oracle.install.crs.config.gpnp.scanPort=1521
oracle.install.crs.config.clusterNodes=rac-node1:rac-node1-vip,rac-node2:rac-node2-vip
{% else %}
oracle.install.option=HA_CONFIG
{% endif %}

# ASM Groups
oracle.install.asm.OSDBA=asmdba
oracle.install.asm.OSOPER=asmoper
oracle.install.asm.OSASM=asmadmin

# Passwords (Lab Default)
oracle.install.asm.SYSASMPassword=W3lc0m3_123#
oracle.install.asm.monitorPassword=W3lc0m3_123#

# ASM Disk Group (DATA) using Loopback (Clean Install) or Real Disks
oracle.install.asm.diskGroup.name=DATA
oracle.install.asm.diskGroup.redundancy=EXTERNAL
oracle.install.asm.diskGroup.AUSize=4
# Discovery String for Lab (Loopback) or Prod (Generic)
oracle.install.asm.diskGroup.disks=/dev/loop0
oracle.install.asm.diskGroup.diskDiscoveryString=/dev/loop*

oracle.install.asm.configureAFD=false
oracle.install.config.managementOption=NONE
