# =============================================================================
# DBCA Response File Template (Oracle Database 19c)
# -----------------------------------------------------------------------------
# Este arquivo é lido pelo DBCA (Database Configuration Assistant) para criar
# o banco sem interação humana (Silent Mode).
# Link com Ansible: As variáveis são preenchidas pelo Jinja2.
# =============================================================================

# Versão do Arquivo de Resposta
responseFileVersion=/oracle/assistants/rspfmt_dbca_response_schema_v19.0.0

# Identificação do Banco (Global Database Name e SID)
gdbName={{ db_name }}.local
sid={{ db_name | lower }}

# Tipo de Configuração: SI (Single Instance) ou RAC
databaseConfigType=SI
templateName=General_Purpose.dbc

# Senhas Administrativas (SYS, SYSTEM)
sysPassword={{ sys_pass }}
systemPassword={{ system_pass }}
emConfiguration=NONE
dbsnmpPassword={{ dbsnmp_pass }}

# Configuração de Storage (ASM)
storageType=ASM
diskGroupName=+{{ asm_dg_name | default('DATA') }}
asmsnmpPassword={{ asm_snmp_pass }}
recoveryGroupName=+{{ fra_dg_name | default('FRA') }}

# Configuração de Character Set (Padrão Mundial Moderno: UTF8)
characterSet=AL32UTF8
nationalCharacterSet=AL16UTF16
registerWithDirService=false
listeners=LISTENER

# Configuração de Memória (SGA + PGA)
# 40% da RAM da VM, Gerenciamento Manual (ASMM) vs Automático (AMM)
memoryPercentage=40
databaseType=MULTIPURPOSE
automaticMemoryManagement=false
totalMemory={{ db_total_memory | default('2048') }}

# Configuração Multitenant (CDB/PDB)
createAsContainerDatabase=true
numberOfPDBs=1
pdbName={{ pdb_name }}
pdbAdminPassword={{ pdb_admin_pass }}
